<TABLE>
<TR  bgcolor="#C0C0C0">
<TH>Hierarchy</TH>
<TH>Input</TH>
<TH>Constant Input</TH>
<TH>Unused Input</TH>
<TH>Floating Input</TH>
<TH>Output</TH>
<TH>Constant Output</TH>
<TH>Unused Output</TH>
<TH>Floating Output</TH>
<TH>Bidir</TH>
<TH>Constant Bidir</TH>
<TH>Unused Bidir</TH>
<TH>Input only Bidir</TH>
<TH>Output only Bidir</TH>
</TR>
<TR >
<TD >control</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >67</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >vgapll_inst|altpll_component|auto_generated</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >vgapll_inst</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >comb_ckt|coloring</TD>
<TD >12</TD>
<TD >3</TD>
<TD >0</TD>
<TD >3</TD>
<TD >12</TD>
<TD >3</TD>
<TD >3</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >comb_ckt|bikiniBottom</TD>
<TD >20</TD>
<TD >0</TD>
<TD >10</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >comb_ckt|theBlocks|row5|block8</TD>
<TD >59</TD>
<TD >11</TD>
<TD >0</TD>
<TD >11</TD>
<TD >6</TD>
<TD >11</TD>
<TD >11</TD>
<TD >11</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >comb_ckt|theBlocks|row5|block7</TD>
<TD >59</TD>
<TD >11</TD>
<TD >0</TD>
<TD >11</TD>
<TD >6</TD>
<TD >11</TD>
<TD >11</TD>
<TD >11</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >comb_ckt|theBlocks|row5|block6</TD>
<TD >59</TD>
<TD >11</TD>
<TD >0</TD>
<TD >11</TD>
<TD >6</TD>
<TD >11</TD>
<TD >11</TD>
<TD >11</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >comb_ckt|theBlocks|row5|block5</TD>
<TD >59</TD>
<TD >11</TD>
<TD >0</TD>
<TD >11</TD>
<TD >6</TD>
<TD >11</TD>
<TD >11</TD>
<TD >11</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >comb_ckt|theBlocks|row5|block4</TD>
<TD >59</TD>
<TD >11</TD>
<TD >0</TD>
<TD >11</TD>
<TD >6</TD>
<TD >11</TD>
<TD >11</TD>
<TD >11</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >comb_ckt|theBlocks|row5|block3</TD>
<TD >59</TD>
<TD >11</TD>
<TD >0</TD>
<TD >11</TD>
<TD >6</TD>
<TD >11</TD>
<TD >11</TD>
<TD >11</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >comb_ckt|theBlocks|row5|block2</TD>
<TD >59</TD>
<TD >11</TD>
<TD >0</TD>
<TD >11</TD>
<TD >6</TD>
<TD >11</TD>
<TD >11</TD>
<TD >11</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >comb_ckt|theBlocks|row5|block1</TD>
<TD >59</TD>
<TD >11</TD>
<TD >0</TD>
<TD >11</TD>
<TD >6</TD>
<TD >11</TD>
<TD >11</TD>
<TD >11</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >comb_ckt|theBlocks|row5</TD>
<TD >49</TD>
<TD >9</TD>
<TD >0</TD>
<TD >9</TD>
<TD >9</TD>
<TD >9</TD>
<TD >9</TD>
<TD >9</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >comb_ckt|theBlocks|row4|block8</TD>
<TD >59</TD>
<TD >11</TD>
<TD >0</TD>
<TD >11</TD>
<TD >6</TD>
<TD >11</TD>
<TD >11</TD>
<TD >11</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >comb_ckt|theBlocks|row4|block7</TD>
<TD >59</TD>
<TD >11</TD>
<TD >0</TD>
<TD >11</TD>
<TD >6</TD>
<TD >11</TD>
<TD >11</TD>
<TD >11</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >comb_ckt|theBlocks|row4|block6</TD>
<TD >59</TD>
<TD >11</TD>
<TD >0</TD>
<TD >11</TD>
<TD >6</TD>
<TD >11</TD>
<TD >11</TD>
<TD >11</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >comb_ckt|theBlocks|row4|block5</TD>
<TD >59</TD>
<TD >11</TD>
<TD >0</TD>
<TD >11</TD>
<TD >6</TD>
<TD >11</TD>
<TD >11</TD>
<TD >11</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >comb_ckt|theBlocks|row4|block4</TD>
<TD >59</TD>
<TD >11</TD>
<TD >0</TD>
<TD >11</TD>
<TD >6</TD>
<TD >11</TD>
<TD >11</TD>
<TD >11</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >comb_ckt|theBlocks|row4|block3</TD>
<TD >59</TD>
<TD >11</TD>
<TD >0</TD>
<TD >11</TD>
<TD >6</TD>
<TD >11</TD>
<TD >11</TD>
<TD >11</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >comb_ckt|theBlocks|row4|block2</TD>
<TD >59</TD>
<TD >11</TD>
<TD >0</TD>
<TD >11</TD>
<TD >6</TD>
<TD >11</TD>
<TD >11</TD>
<TD >11</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >comb_ckt|theBlocks|row4|block1</TD>
<TD >59</TD>
<TD >11</TD>
<TD >0</TD>
<TD >11</TD>
<TD >6</TD>
<TD >11</TD>
<TD >11</TD>
<TD >11</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >comb_ckt|theBlocks|row4</TD>
<TD >49</TD>
<TD >9</TD>
<TD >0</TD>
<TD >9</TD>
<TD >9</TD>
<TD >9</TD>
<TD >9</TD>
<TD >9</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >comb_ckt|theBlocks|row3|block8</TD>
<TD >59</TD>
<TD >11</TD>
<TD >0</TD>
<TD >11</TD>
<TD >6</TD>
<TD >11</TD>
<TD >11</TD>
<TD >11</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >comb_ckt|theBlocks|row3|block7</TD>
<TD >59</TD>
<TD >11</TD>
<TD >0</TD>
<TD >11</TD>
<TD >6</TD>
<TD >11</TD>
<TD >11</TD>
<TD >11</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >comb_ckt|theBlocks|row3|block6</TD>
<TD >59</TD>
<TD >11</TD>
<TD >0</TD>
<TD >11</TD>
<TD >6</TD>
<TD >11</TD>
<TD >11</TD>
<TD >11</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >comb_ckt|theBlocks|row3|block5</TD>
<TD >59</TD>
<TD >11</TD>
<TD >0</TD>
<TD >11</TD>
<TD >6</TD>
<TD >11</TD>
<TD >11</TD>
<TD >11</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >comb_ckt|theBlocks|row3|block4</TD>
<TD >59</TD>
<TD >11</TD>
<TD >0</TD>
<TD >11</TD>
<TD >6</TD>
<TD >11</TD>
<TD >11</TD>
<TD >11</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >comb_ckt|theBlocks|row3|block3</TD>
<TD >59</TD>
<TD >11</TD>
<TD >0</TD>
<TD >11</TD>
<TD >6</TD>
<TD >11</TD>
<TD >11</TD>
<TD >11</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >comb_ckt|theBlocks|row3|block2</TD>
<TD >59</TD>
<TD >11</TD>
<TD >0</TD>
<TD >11</TD>
<TD >6</TD>
<TD >11</TD>
<TD >11</TD>
<TD >11</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >comb_ckt|theBlocks|row3|block1</TD>
<TD >59</TD>
<TD >11</TD>
<TD >0</TD>
<TD >11</TD>
<TD >6</TD>
<TD >11</TD>
<TD >11</TD>
<TD >11</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >comb_ckt|theBlocks|row3</TD>
<TD >49</TD>
<TD >9</TD>
<TD >0</TD>
<TD >9</TD>
<TD >9</TD>
<TD >9</TD>
<TD >9</TD>
<TD >9</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >comb_ckt|theBlocks|row2|block8</TD>
<TD >59</TD>
<TD >11</TD>
<TD >0</TD>
<TD >11</TD>
<TD >6</TD>
<TD >11</TD>
<TD >11</TD>
<TD >11</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >comb_ckt|theBlocks|row2|block7</TD>
<TD >59</TD>
<TD >11</TD>
<TD >0</TD>
<TD >11</TD>
<TD >6</TD>
<TD >11</TD>
<TD >11</TD>
<TD >11</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >comb_ckt|theBlocks|row2|block6</TD>
<TD >59</TD>
<TD >11</TD>
<TD >0</TD>
<TD >11</TD>
<TD >6</TD>
<TD >11</TD>
<TD >11</TD>
<TD >11</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >comb_ckt|theBlocks|row2|block5</TD>
<TD >59</TD>
<TD >11</TD>
<TD >0</TD>
<TD >11</TD>
<TD >6</TD>
<TD >11</TD>
<TD >11</TD>
<TD >11</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >comb_ckt|theBlocks|row2|block4</TD>
<TD >59</TD>
<TD >11</TD>
<TD >0</TD>
<TD >11</TD>
<TD >6</TD>
<TD >11</TD>
<TD >11</TD>
<TD >11</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >comb_ckt|theBlocks|row2|block3</TD>
<TD >59</TD>
<TD >11</TD>
<TD >0</TD>
<TD >11</TD>
<TD >6</TD>
<TD >11</TD>
<TD >11</TD>
<TD >11</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >comb_ckt|theBlocks|row2|block2</TD>
<TD >59</TD>
<TD >11</TD>
<TD >0</TD>
<TD >11</TD>
<TD >6</TD>
<TD >11</TD>
<TD >11</TD>
<TD >11</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >comb_ckt|theBlocks|row2|block1</TD>
<TD >59</TD>
<TD >11</TD>
<TD >0</TD>
<TD >11</TD>
<TD >6</TD>
<TD >11</TD>
<TD >11</TD>
<TD >11</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >comb_ckt|theBlocks|row2</TD>
<TD >49</TD>
<TD >9</TD>
<TD >0</TD>
<TD >9</TD>
<TD >9</TD>
<TD >9</TD>
<TD >9</TD>
<TD >9</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >comb_ckt|theBlocks|row1|block8</TD>
<TD >59</TD>
<TD >11</TD>
<TD >0</TD>
<TD >11</TD>
<TD >6</TD>
<TD >11</TD>
<TD >11</TD>
<TD >11</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >comb_ckt|theBlocks|row1|block7</TD>
<TD >59</TD>
<TD >11</TD>
<TD >0</TD>
<TD >11</TD>
<TD >6</TD>
<TD >11</TD>
<TD >11</TD>
<TD >11</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >comb_ckt|theBlocks|row1|block6</TD>
<TD >59</TD>
<TD >11</TD>
<TD >0</TD>
<TD >11</TD>
<TD >6</TD>
<TD >11</TD>
<TD >11</TD>
<TD >11</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >comb_ckt|theBlocks|row1|block5</TD>
<TD >59</TD>
<TD >11</TD>
<TD >0</TD>
<TD >11</TD>
<TD >6</TD>
<TD >11</TD>
<TD >11</TD>
<TD >11</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >comb_ckt|theBlocks|row1|block4</TD>
<TD >59</TD>
<TD >11</TD>
<TD >0</TD>
<TD >11</TD>
<TD >6</TD>
<TD >11</TD>
<TD >11</TD>
<TD >11</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >comb_ckt|theBlocks|row1|block3</TD>
<TD >59</TD>
<TD >11</TD>
<TD >0</TD>
<TD >11</TD>
<TD >6</TD>
<TD >11</TD>
<TD >11</TD>
<TD >11</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >comb_ckt|theBlocks|row1|block2</TD>
<TD >59</TD>
<TD >11</TD>
<TD >0</TD>
<TD >11</TD>
<TD >6</TD>
<TD >11</TD>
<TD >11</TD>
<TD >11</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >comb_ckt|theBlocks|row1|block1</TD>
<TD >59</TD>
<TD >11</TD>
<TD >0</TD>
<TD >11</TD>
<TD >6</TD>
<TD >11</TD>
<TD >11</TD>
<TD >11</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >comb_ckt|theBlocks|row1</TD>
<TD >49</TD>
<TD >9</TD>
<TD >0</TD>
<TD >9</TD>
<TD >9</TD>
<TD >9</TD>
<TD >9</TD>
<TD >9</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >comb_ckt|theBlocks</TD>
<TD >40</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >11</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >comb_ckt|theBall|ballDraw</TD>
<TD >38</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >comb_ckt|theBall|posBoi</TD>
<TD >10</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >20</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >comb_ckt|theBall</TD>
<TD >29</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >23</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >comb_ckt|thePaddle|mover</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >10</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >comb_ckt|thePaddle|paddleDrawer</TD>
<TD >29</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >comb_ckt|thePaddle|collider</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >comb_ckt|thePaddle</TD>
<TD >43</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >11</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >comb_ckt</TD>
<TD >32</TD>
<TD >56</TD>
<TD >9</TD>
<TD >56</TD>
<TD >70</TD>
<TD >56</TD>
<TD >56</TD>
<TD >56</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
</TABLE>
